---
import ProseLayout from "@/layouts/ProseLayout.astro"
import type { GetStaticPathsItem } from "astro"
import { CollectionEntry, getCollection } from "astro:content"

export interface Props {
  entry: CollectionEntry<"blog">
}

export async function getStaticPaths() {
  const blog = await getCollection("blog")

  return blog.map<GetStaticPathsItem>((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content, headings } = await entry.render()

const openGraphImage = (
  await import(
    `../../../assets/blog/${
      entry.id.endsWith(".mdx") ? entry.id.slice(0, -4) : entry.id.slice(0, -3)
    }.jpg`
  )
).default
---

<ProseLayout
  description={entry.data.description}
  headings={headings}
  title={`${entry.data.title} | zSnout Blog`}
  og={{
    title: entry.data.title,
    imageSrc: openGraphImage,
    imageAlt: entry.data.imageAlt,
    article: {
      authors: ["Zachary Sakowitz"],
      publishedTime: entry.data.published,
      tags: [entry.data.category],
      modifiedTime: entry.data.updated,
    },
  }}
>
  <div class="relative mb-20 flex flex-col">
    <div
      class="absolute -left-[150vw] bottom-0 h-[100vh] w-[300vw] bg-z-border transition"
    >
    </div>

    <h1 class="relative m-0 mb-4 transition">{entry.data.title}</h1>

    <p class="relative m-0 mb-12 transition">{entry.data.description}</p>

    <img
      class="relative m-0 -mb-12 rounded-lg shadow-md transition"
      src={openGraphImage}
    />
  </div>

  <Content />
</ProseLayout>
