---
import PaddedLayout from "@/layouts/PaddedLayout.astro"
import { getCollection } from "astro:content"
import MainPage from "./MainPage.astro"
import openGraphImage from "./open-graph.jpg"

const latestArticle = (await getCollection("blog")).sort((a, b) =>
  a.data.published < b.data.published ? 1 : -1,
)[0]!

const imageSrc = (
  await import(
    `../assets/blog/${
      latestArticle.id.endsWith(".mdx")
        ? latestArticle.id.slice(0, -4)
        : latestArticle.id.slice(0, -3)
    }.jpg`
  )
).default
---

<PaddedLayout
  maxWidth="max-w-6xl"
  description="A website with many unrelated yet fun projects."
  title="zSnout"
  og={{
    imageSrc: openGraphImage,
    imageAlt: "A combination of thumbnails for various pages on zSnout.",
    title: "zSnout",
  }}
>
  <div
    class="mx-auto flex w-[72rem] max-w-full flex-1 flex-col text-z transition"
  >
    <MainPage
      category="Blog"
      categoryHref="/blog"
      date={latestArticle.data.published}
      imageAlt={latestArticle.data.imageAlt}
      imageSrc={imageSrc}
      subtitle={latestArticle.data.excerpt}
      title={latestArticle.data.title}
      href={`/blog/${latestArticle.slug}`}
    />
  </div>
</PaddedLayout>
