---
import Navigation from "@/components/nav/Navigation.astro"
import Layout, { type Props as LayoutProps } from "./Layout.astro"

export interface Props extends LayoutProps {
  options?: any
  shortLine?: boolean
}
---

<Layout {...Astro.props}>
  {
    Astro.slots.options ?
      <Navigation
        floating={true}
        maxWidth="max-w-[64rem]"
        theme={Astro.props.theme}
        shortLine={Astro.props.shortLine}
      >
        <slot name="options" slot="options" />
      </Navigation>
    : <Navigation
        floating={true}
        maxWidth="max-w-[64rem]"
        theme={Astro.props.theme}
        shortLine={Astro.props.shortLine}
      />
  }

  <div
    class="max-w-screen flex h-full max-h-screen min-h-full w-full min-w-full flex-1 touch-manipulation flex-col text-z transition"
  >
    <slot />
  </div>
</Layout>
