---
import Navigation from "@/components/nav/Navigation.astro"
import Layout, { type Props as LayoutProps } from "./Layout.astro"

export interface Props extends LayoutProps {
  maxWidth: `max-w-${string}`
  pt?: `pt-${number}`
  pb?: `pb-${number}`
  shortLine?: boolean
}
---

<Layout {...Astro.props}>
  {
    Astro.slots.options ? (
      <Navigation
        floating={false}
        maxWidth={Astro.props.maxWidth}
        shortLine={Astro.props.shortLine}
      >
        <slot name="options" slot="options" />
      </Navigation>
    ) : (
      <Navigation
        floating={false}
        maxWidth={Astro.props.maxWidth}
        shortLine={Astro.props.shortLine}
      />
    )
  }

  <div
    class={`mx-6 flex flex-1 flex-col ${Astro.props.pb || "pb-8"} ${
      Astro.props.pt || "pt-20"
    } text-z transition print:mx-0 print:my-0`}
  >
    <slot />
  </div>
</Layout>
