---
import Navigation, {
  type Props as NavProps,
} from "@/components/nav/Navigation.astro"
import Layout, { type Props as LayoutProps } from "./Layout.astro"
import { clsx } from "@/components/clsx"

export interface Props
  extends LayoutProps,
    Omit<NavProps, "floating" | "options" | "htmlBg"> {
  pt?: `pt-${number}`
  pb?: `pb-${number}`
}
---

<Layout
  {...Astro.props}
  htmlBg={Astro.props.gray ?
    "[&.dark]:bg-z-body bg-z-body-selected"
  : undefined}
>
  {
    Astro.slots.options ?
      <Navigation {...Astro.props} floating={false} gray={Astro.props.gray}>
        <slot name="options" slot="options" />
      </Navigation>
    : <Navigation {...Astro.props} floating={false} gray={Astro.props.gray} />
  }

  <div
    class={clsx(
      "mx-6 flex flex-1 flex-col text-z transition print:mx-0 print:my-0",
      Astro.props.pb || "pb-8",
      Astro.props.pt || "pt-20",
    )}
  >
    <slot />
  </div>
</Layout>
