---
import Navigation from "../components/nav/Navigation.astro"
import Layout from "./Layout.astro"

interface Props {
  children: any
  maxWidth: `max-w-${string}`
  title: string
}
---

<Layout title={Astro.props.title}>
  {
    Astro.slots.options ? (
      <Navigation floating={false} maxWidth={Astro.props.maxWidth}>
        <slot name="options" slot="options" />
      </Navigation>
    ) : (
      <Navigation floating={false} maxWidth={Astro.props.maxWidth} />
    )
  }

  <div
    class="mx-6 mt-16 mb-4 flex flex-1 flex-col text-z transition print:mx-0 print:my-0"
  >
    <slot />
  </div>
</Layout>
