---
import { Fa } from "@/components/Fa"
import { clsx } from "@/components/clsx"
import { faChevronRight } from "@fortawesome/free-solid-svg-icons"
import { Options } from "./Options"
import { ThemeSwitcher } from "./ThemeSwitcher"

export interface Props {
  floating: boolean
  maxWidth: `max-w-${string}`
  options?: any
  gray?: boolean
  theme?: "light" | "dark"
  shortLine?: boolean
  sublink?: { title: string; href: `/${string}` }
}

// TODO: make sure this doesn't disturb fractal explorer settings
---

{/* This blocks content under the address bar in Safari. */}
<div
  class={clsx(
    "pointer-events-none fixed -top-20 left-0 z-30 h-20 w-full print:hidden",
    Astro.props.gray ? "dark:bg-z-body bg-z-body-selected" : "bg-z-body",
  )}
>
</div>

{/* This is intentionally not a <nav /> element. */}
{/* That is used in prose and other documents with internal nav links. */}
<header
  class={clsx(
    "pointer-events-none fixed top-0 z-30 flex h-12 w-full touch-none select-none justify-center items-center border-b px-6 py-1.5 transition print:hidden",
    Astro.props.floating ?
      "border-b-transparent"
    : clsx(
        "backdrop-blur-sm",
        Astro.props.gray ?
          "bg-z-body-selected-partial dark:bg-z-body-partial"
        : "bg-z-body-partial",
        Astro.props.shortLine ? "border-b-transparent" : "border-b-z",
      ),
  )}
>
  <div
    class={`relative flex h-full w-full flex-1 items-center ${Astro.props.maxWidth}`}
  >
    {
      Astro.props.shortLine && (
        <div class="absolute -bottom-1.5 left-0 h-px w-full translate-y-px bg-z-border" />
      )
    }

    <div
      class="pointer-events-auto relative left-[calc(-0.5rem_-_1px)] z-20 mr-auto flex items-baseline text-2xl font-extralight text-z-heading"
    >
      <a
        class={"rounded-lg border border-transparent px-2 py-0.5 underline decoration-transparent decoration-1 underline-offset-2 ring-z-focus transition hover:decoration-current focus-visible:border-z-focus focus-visible:outline-none focus-visible:ring " +
          (Astro.props.floating ? "backdrop-blur-sm bg-z-body-partial" : "")}
        href="/">zSnout</a
      >

      {
        Astro.props.sublink && (
          <>
            <Fa class="h-4 w-4" icon={faChevronRight} title="sublink" />
            <a
              class={
                "z-sublink rounded-lg border border-transparent px-2 py-0.5 underline decoration-transparent decoration-1 underline-offset-2 ring-z-focus transition focus-visible:border-z-focus focus-visible:outline-none focus-visible:ring hover:decoration-current " +
                (Astro.props.floating ?
                  "bg-z-body-partial backdrop-blur-sm"
                : "")
              }
              href={Astro.props.sublink.href}
            >
              {Astro.props.sublink.title}
            </a>
          </>
        )
      }
    </div>

    {
      Astro.slots.options ?
        <Options client:load>
          <slot name="options" />
        </Options>
      : <div id="nav-options" class="contents" />
    }

    <ThemeSwitcher
      client:idle
      theme={Astro.props.theme}
      gray={Astro.props.gray}
    />
  </div>
</header>
